# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Builds
/dist/
/build/
/out/

# Env
.env
.env.*

# Logs
logs/
*.log

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Backend runtime data
_meta/
99_EXPORTS/
